@import '@/styles/variables.scss';

.main {
  margin-left: $sidebar-width;
  margin-top: $topbar-height;
  padding: $gutter;
  height: calc(100vh - #{$topbar-height});
  overflow-y: auto;
}

.container {
  max-width: 1000px;
}
